{% extends 'base.html'%}


{% block content%}
<div class="card mx-auto" style="max-width: 600px; margin-top:100px;">
 <h2 align=center>Reset Password</h2>
 <form method="POST">
  {% csrf_token %}
  <input type="password" name="password" class="form-control" placeholder="New Password" required><br>
  <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required><br>
  <button class="form-control" class="btn btn-primary" type="submit">Reset Password</button>
 </form>
</div>
{% endblock%}